*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(27,162,194);
    background: linear-gradient(0deg, rgba(27,162,194,0.41220238095238093) 2%, rgba(255,255,255,0.6643032212885154) 79%);
}

.pontos{
    display:flex;
    justify-content:space-between;
    margin: 10px 50px;
    padding:4px;
    text-align: center;
    border: 1px dotted rgb(27,162,194);
    border-radius:4px;
    position:relative;
}

.pontuacao_sua, .pontuacao_computador{
    font-weight:bold;   
}

.img_logo{
    display:flex;
    width:200px;
    margin: 0 auto;
}

.click{
    display:flex;
    justify-content:center;
    padding: 5px;
}

.img_opcoes{
    width:120px; 
    padding: 10px;
    transition: 1s;
}

.opcao_computador img, .sua_opcao img{
    width: 120px;
    padding: 10px;
}

.ganhador{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0 30px;
    text-align: center;
}

.ganhou{
    margin: 30px auto;
}

.ganhou h4{
    border: 1px solid rgba(41, 31, 31, 0.549);
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 4px;
}

.opcoes_jogada{
    margin:40px 0;
}



@media screen and (min-width: 480px){
    .ganhador{
        justify-content:center;
        margin: 0 60px;
    }
    .ganhador_card{
        width:50%;
    }

    .pontos{
        display:flex;
        justify-content:space-around;
        max-width: 400px;
        margin:0 auto;
        margin-top:10px;
    }
}

@media screen and (min-width: 980px){
    .img_logo{
        width:220px;
    }
    .opcao_computador img, .sua_opcao img{
        width: 140px;
        padding: 10px;
    }

    .jogo{
        margin-top:-10px;
    }

    .ganhador h4{
        font-size:17px;
    }

    .ganhou{
        margin-bottom: 0px;
        padding: 0 0;
    }

    .img_opcoes{
        width:170px; 
        padding: 10px;
    }    

    .img_opcoes:hover{
        border: 1px solid green;
        border-radius: 100%;
    }

    .ganhador_card{
        width:40%;
    }
    
}